@{
  Layout = "_Layout";
}

@model PieeresTreats.Models.Treat

<h2>Add a Flavor!!!!</h2>

<h4>@Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.TreatId)

  @Html.Label("Select Flavor")
  @Html.DropDownList("FlavorId")

  <input type="submit" value="Add"/>
}