@{
    Layout = "_Layout";
}

@model PieeresTreats.Models.Treat

<h1> Welcome To Pieeres Sweet and Savory Treats!</h1>

<p>@Html.ActionLink("Create an Account", "Index", "Account")</p>
<p>@Html.ActionLink("Log In", "Login", "Account")